In [3]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Load the data from the csv file:
data = pd.read_csv("C:/Users/zeus/Desktop/Git Repositories/Road_Accidents/Road Accident Data.csv")

In [ ]:
data.head(100)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident_Index              307972 non-null  object
 1   Accident Date               307973 non-null  object
 2   Day_of_Week                 307973 non-null  object
 3   Junction_Control            307973 non-null  object
 4   Junction_Detail             307973 non-null  object
 5   Accident_Severity           307973 non-null  object
 6   Latitude                    307973 non-null  float64
 7   Longitude                   307973 non-null  float64
 8   Light_Conditions            307973 non-null  object
 9   Local_Authority_(District)  307973 non-null  object
 10  Carriageway_Hazards         307973 non-null  object
 11  Number_of_Casualties        307973 non-null  int64
 12  Number_of_Vehicles          307973 non-null  int64
 13  Police_Force                307973 non-null  object
 14  Road_Surface_Conditions     307973 non-null  object
 15  Road_Type                   306448 non-null  object
 16  Speed_limit                 307973 non-null  int64
 17  Time                        307973 non-null  object
 18  Urban_or_Rural_Area         307973 non-null  object
 19  Weather_Conditions          307973 non-null  object
 20  Vehicle_Type                307973 non-null  object
dtypes: float64(2), int64(3), object(16)
memory usage: 49.3+ MB

In [7]:
data['Accident Date'] = pd.to_datetime(data['Accident Date'],format = "%d-%m-%Y")
data['Time'] = pd.to_datetime(data['Time'],format='%H:%M')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident_Index              307972 non-null  object
 1   Accident Date               307973 non-null  datetime64[ns]
 2   Day_of_Week                 307973 non-null  object
 3   Junction_Control            307973 non-null  object
 4   Junction_Detail             307973 non-null  object
 5   Accident_Severity           307973 non-null  object
 6   Latitude                    307973 non-null  float64
 7   Longitude                   307973 non-null  float64
 8   Light_Conditions            307973 non-null  object
 9   Local_Authority_(District)  307973 non-null  object
 10  Carriageway_Hazards         307973 non-null  object
 11  Number_of_Casualties        307973 non-null  int64
 12  Number_of_Vehicles          307973 non-null  int64
 13  Police_Force                307973 non-null  object
 14  Road_Surface_Conditions     307973 non-null  object
 15  Road_Type                   306448 non-null  object
 16  Speed_limit                 307973 non-null  int64
 17  Time                        307973 non-null  datetime64[ns]
 18  Urban_or_Rural_Area         307973 non-null  object
 19  Weather_Conditions          307973 non-null  object
 20  Vehicle_Type                307973 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(3), object(14)
memory usage: 49.3+ MB

In [9]:
data.isnull().sum()
# Data set has 1525 Null value in Road_Type column and 1 Accident_Index column which is null.

Accident_Index                   1
Accident Date                    0
Day_of_Week                      0
Junction_Control                 0
Junction_Detail                  0
Accident_Severity                0
Latitude                         0
Longitude                        0
Light_Conditions                 0
Local_Authority_(District)       0
Carriageway_Hazards              0
Number_of_Casualties             0
Number_of_Vehicles               0
Police_Force                     0
Road_Surface_Conditions          0
Road_Type                     1525
Speed_limit                      0
Time                             0
Urban_or_Rural_Area              0
Weather_Conditions               0
Vehicle_Type                     0
dtype: int64

In [10]:
data['Road_Type'].replace('null', np.nan, inplace=True)
data['Road_Type'].fillna(data['Road_Type'].mode().iloc[0], inplace=True)

In [11]:
data.isnull().sum()

Accident_Index                1
Accident Date                 0
Day_of_Week                   0
Junction_Control              0
Junction_Detail               0
Accident_Severity             0
Latitude                      0
Longitude                     0
Light_Conditions              0
Local_Authority_(District)    0
Carriageway_Hazards           0
Number_of_Casualties          0
Number_of_Vehicles            0
Police_Force                  0
Road_Surface_Conditions       0
Road_Type                     0
Speed_limit                   0
Time                          0
Urban_or_Rural_Area           0
Weather_Conditions            0
Vehicle_Type                  0
dtype: int64

In [12]:
data['Weather_Conditions'].value_counts()

Weather_Conditions
Clear      247644
Raining     38403
Other       14859
Snowy        5377
Foggy        1690
Name: count, dtype: int64

In [13]:
data['Vehicle_Type'].value_counts()

Vehicle_Type
Cars                       245337
Vans and Goods Vehicles     24729
Heavy Motorcycles           14511
Small Vehicles              10555
Public Transport             9507
Other vehicle                2516
Specialized Vehicles          752
Bicycle                        66
Name: count, dtype: int64

In [ ]:
total_count = data['Vehicle_Type'].sum()
total_count